ClientWebApp/Connected Services/JourneyService/JourneySearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.gre.ac.uk/pdc/na2880g/Quoter" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.gre.ac.uk/pdc/na2880g/Quoter" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.gre.ac.uk/pdc/na2880g/Quoter">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stn1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stn2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistanceResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistance" />
  </wsdl:message>
  <wsdl:message name="GetDistanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistanceResponse" />
  </wsdl:message>
  <wsdl:portType name="JourneySearchSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistance">
      <wsdl:input message="tns:GetDistanceSoapIn" />
      <wsdl:output message="tns:GetDistanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JourneySearchSoap" type="tns:JourneySearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://www.gre.ac.uk/pdc/na2880g/Quoter/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistance">
      <soap:operation soapAction="http://www.gre.ac.uk/pdc/na2880g/Quoter/GetDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JourneySearchSoap12" type="tns:JourneySearchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://www.gre.ac.uk/pdc/na2880g/Quoter/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistance">
      <soap12:operation soapAction="http://www.gre.ac.uk/pdc/na2880g/Quoter/GetDistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JourneySearch">
    <wsdl:port name="JourneySearchSoap" binding="tns:JourneySearchSoap">
      <soap:address location="http://localhost:51935/JourneySearch.asmx" />
    </wsdl:port>
    <wsdl:port name="JourneySearchSoap12" binding="tns:JourneySearchSoap12">
      <soap12:address location="http://localhost:51935/JourneySearch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>